.hero {
  height: 85dvh;
}

.hero-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}

h1 {
  font-size: 3.8rem;
}

.hero-text {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.status{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--22);
    gap: .75rem;
    border-radius: var(--br);
    padding: .8rem 3rem;
    transition: background-color 0.2s ease-in-out;
    position: relative;
}

.status::before{
    content: "";
    position: absolute;
    left: 10%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--92);
    transition: width 0.3s ease-in-out;
    background-color: #3f0;
}

.experience-wrapper{
  display: flex;
  gap: 2rem;
}
.experience-left{
  flex: .5;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}


.experience-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


/* skills styles */

.skills-wrapper{
  display: flex;
  gap: 2rem;


}

.skills-left{
  flex: .5;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;


}
.skills-right{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.blogs-wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.blogs-header{
  width: 100%;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: space-between;
}
.blogs-header>a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;

}
.blogs-header>a:hover{
  color: var(--92);
}

.blogs-list{
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  place-items: center;
  grid-column-gap: 2rem;
}

@media (max-width: 991.98px) {
  /* CSS rules for medium devices */
  h1{
    font-size: 3rem;
  }

  .experience-wrapper,.skills-wrapper{
    flex-direction: column;
  }

  .blogs-list{
    grid-template-columns: 1fr 1fr;
  }
}





