.nav {
    display: flex;
    color: var(--92);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    padding: 2rem 0px;
}

ul[role="navigation"] {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav-left>a{
    font-size: 1.5rem;
    font-family: var(--ff-primary);
}

.nav-link {
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust if needed */
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--92);
    transition: width 0.3s ease-in-out;
}

.nav-link:hover {
    transform: translateY(-8px);
}

.nav-link:hover::after {
    width: 100%;
}

.nav-mail{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--22);
    gap: .75rem;
    border-radius: var(--br);
    padding: 1rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.nav-mail>a{
    text-decoration: underline;
}

.nav-mail:hover{
    background-color: var(--32);
}
